name: Format and Lint

on:
  pull_request:
  push:  # trigger on pushes to all branches
    branches:
      - '**'

jobs:
  format-lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node (from .nvmrc)
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install
        run: npm ci

      - name: Prettier check
        run: npm run format-check

      - name: ESLint
        run: npm run lint
